* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white; /* Make it white if you need */
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-family: Arial, sans-serif;
}